@import "mixins-extends";

/* Main Nosotros */

.nosotros {
    background-image: url(../imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-1;
    padding: 4.38rem;
    color: $color-secundario;
}

.nosotros__section {
    border: 0.5rem solid $color-secundario;
    background-color: $color-principal;
    border-radius: 20px;
    width: 50%;
        h2 {
            text-align: center;
            font-family: 'Oxanium', sans-serif;
            font-size: 4rem;
            font-weight: 500;
            border-bottom: 0.5rem solid $color-secundario;
        }
}

.nosotros__texto {
    @include flex-1;
}

.texto {
    margin: map-get($estilos, margen);
    text-align: map-get($estilos, alineacion);
    font-family: 'Oxanium', sans-serif;
    font-size: map-get($estilos, tamaño-letra);
    font-weight: map-get($estilos, grosor-letra);
}