/* Main Olvidaste Contraseña */

.main__olvidaste {
    background-image: url(../imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-2 (flex, wrap, space-around);
    align-items: center;
    padding: 21.5rem;
    color: $color-secundario;
}

.section__olvidaste {
    display: flex;
    flex-flow: column wrap;
    border: 0.5rem solid $color-secundario;
    background-color: $color-principal;
    border-radius: 20px;
    width: 60rem;
        h3 {
            text-align: center;
            font-family: 'Oxanium', sans-serif;
            font-size: 3rem;
            font-weight: 500;
            border-bottom: 0.5rem solid $color-secundario;
            padding: 1rem;
        }
        p {
            text-align: center;
            font-family: 'Oxanium', sans-serif;
            font-size: 2rem;
            font-weight: 500;
            padding: 1rem;
        }
}

.form__olvidaste {
    @include flex (flex, column wrap, center);
        input {
            margin: 1rem 1rem 2rem 1rem;
            padding: 1rem;
            font-family: 'Oxanium', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 10px;
                &:hover {
                    border: 0.2rem solid $color-secundario;
                    box-shadow: 2px 2px 9px $color-secundario;
                }
        }
}

.div__olvidaste {
    @include flex-2 (flex, wrap, space-between);
        input {
            width: 15rem;
            margin-bottom: 1rem;
            background-color: $color-quinario;
        }
}

.buscar {
    input {
        background-color: green;
        color: $color-secundario;
            &:hover {
                border: 0.2rem solid $color-secundario;
                box-shadow: 2px 2px 9px $color-secundario;
            }
    }
}