*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #cccccc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23484848' fill-opacity='0.36' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

a {
    text-decoration: none;
}

/* Header General */

header {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23484848' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header__logo {
    width: 19rem;
    height: 18rem;
}

.header__titulo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Architext', sans-serif;
    text-shadow: 4px 4px 4px #FFFFFF;
}

.header__titulo h1 {
    color: #FFFFFF;
    font-size: 6rem;
}

header nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 4rem 0 0 5rem;
}

header nav ul li a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

header nav ul li a img {
    margin: 0 2rem 0 2rem;
    width: 4rem;
    height: 4rem;
}

header nav ul li a img:hover {
    transition: all 1s;
    transform: rotate(360deg);
}

header nav ul li a span {
    background-color: #DDDDDD;
    color: #000000;   
    font-family: 'Oxanium', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.3rem;
}

.header__barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.busqueda {
    font-family: 'Oxanium', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    border: #000000;
    border-radius: 10px;
    width: 100%;
    margin: 0 0 4rem 2.8rem;
}

/* Section Especial del Header Index */

.marcas {
    width: 100%;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 25%;
}

.dropdown button,.dropdown2 button {
    background-color: #999999;
    border: 0.1rem solid black;
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 2.8rem;
    color: #000000;
    text-shadow: 2px 0px 1px #FFFFFF;
    flex-grow: 1;
}

.dropdown ul,.dropdown2 ul {
    width: 100%;
    border-radius: 10px;
    background-color: #000000;
}

.dropdown ul li,.dropdown2 ul li {
    text-align: center;
    font-size: 2rem;
}

.dropdown ul li a, .dropdown2 ul li a {
    color: #FFFFFF;
}

.dropdown2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.dropdown button:focus {
    color: #000000;
    background-color: #999999;
}

.dropdown2 button:focus {
    color: #000000;
    background-color: #999999;
}

/* Header de Inicio de Sesion/Registro/Olvidaste Contraseña */

.header__especial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem dotted #FFFFFF;
}

.header__especial h1 {
    margin-right: 2rem;
}

.header__especial h2 {
    font-size: 2em;
    font-weight: bold;
}

.titulo__especial {
    color: #FFFFFF;
    font-family: 'Architext', sans-serif;
    font-size: 3rem;
}

/* Main Index */

.carousel {
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel img {
    margin: 2rem auto 3rem auto;
    height: 60rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 10rem;
    height: 20rem;
}

/* Main Samsung/Apple/Xiaomi/Motorola */

.presentacion {
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 4.38rem;
}

.presentacion__celular {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.presentacion__celular img {
    margin: 3rem;
}

.presentacion__texto {
    display: flex;
}

.primer_texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 0 3rem 0 2rem;
    padding: 0 1rem 0 1rem;
    border-radius: 20px;
    border: 20px ridge rgba(64,64,64,0.75);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(196, 196, 196));
}

.presentacion__texto p {
    font-family: 'Lintel', sans-serif;
    font-size: 2.5rem;
    color: #FFFFFF;
}

.segundo_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    margin: 0 2rem 0 3rem;
    padding: 0 1rem 0 2rem;
    border-radius: 20px;
    border: 20px ridge rgba(64,64,64,0.75);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(196, 196, 196));
}

.remarque {
    color: #FFFFFF;
    font-family: 'Neogrey', sans-serif;
    font-weight: 500;
    font-size: 2rem;   
    align-self: center;   
    text-align: center;
    padding: .4rem;    
}

/* Main Nosotros */

.nosotros {
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4.38rem;
    color: #FFFFFF;
}

.nosotros__section {
    border: 0.5rem solid #FFFFFF;
    background-color: #000000;
    border-radius: 20px;
    width: 50%;
}

.nosotros__section h2 {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    border-bottom: 0.5rem solid #FFFFFF;
}

.nosotros__texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto {
    margin: 10rem;
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

/* Main Contactanos */

.contactanos {
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 11rem;
    color: #FFFFFF;
}

.contactanos__section {
    display: flex;
    flex-flow: column wrap;
    border: 0.5rem solid #FFFFFF;
    background-color: #000000;
    border-radius: 50px;
}

.contactanos__section h2 {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 0.5rem solid #FFFFFF;
    padding: 1rem;
}

.contactanos__form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1rem;
}

.contactanos__section input {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
}

.contactanos__section textarea {
    margin: 1rem;
    padding: 1rem;
    height: 10rem;
    resize: none;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
}

.enviar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.enviar input {
    width: 40%;
    background-color: green;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
}

.enviar input:hover {
    border: 0.2rem solid #FFFFFF;
    box-shadow: 2px 2px 9px #FFFFFF;
}

.ubicacion {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    border-radius: 20px;
    border: 0.5rem solid #FFFFFF;
}

.encuentro {
    font-family: 'Oxanium', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 1rem;
}

.ubicacion iframe {
    width: 40rem;
    height: 40rem;
    padding: 1rem;
}

/* Main Inicio de Sesion */

.main__especial {
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 6.4rem;
    color: #FFFFFF;
}

.main__section {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    border: 0.5rem solid #FFFFFF;
    background-color: #000000;
    border-radius: 20px;
    width: 55rem;
    height: 55rem;
}

.main__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main__section h3 {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    border: 0.2rem solid #FFFFFF;
    border-radius: 10px;
    padding: 0.5rem;
}

.main__form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1rem;
}

.main__form input {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Oxanium', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
}

.enviar__especial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.enviar__especial input {
    background-color: green;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
}

.enviar__especial input:hover {
    border: 0.2rem solid #FFFFFF;
    box-shadow: 2px 2px 9px #FFFFFF;
}

.olvidaste-contraseña {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

.olvidaste-contraseña p {
    color: green;
    font-size: 1.2rem;
    font-family: 'Oxanium', sans-serif;
}

/* Main Registro */

.main__registro {
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 14.5rem;
    color: #FFFFFF;
}

.registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.registro__section {
    width: 70rem;
    display: flex;
    flex-flow: column wrap;
    border: 0.5rem solid #FFFFFF;
    background-color: #000000;
    border-radius: 20px;
}

.registro__form {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    padding: 1rem;
}

.registro__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registro__div input {
    width: 40%;
}

.registro__section h3 {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 0.5rem solid #FFFFFF;
    padding: 1rem;
}

.registro__section input {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
}

.registro input {
    width: 70%;
    background-color: green;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
}

.registro input:hover {
    border: 0.2rem solid #FFFFFF;
    box-shadow: 2px 2px 9px #FFFFFF;
}

/* Main Olvidaste Contraseña */

.main__olvidaste {
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 21.5rem;
    color: #FFFFFF;
}

.section__olvidaste {
    display: flex;
    flex-flow: column wrap;
    border: 0.5rem solid #FFFFFF;
    background-color: #000000;
    border-radius: 20px;
    width: 60rem;
}

.section__olvidaste h3 {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 0.5rem solid #FFFFFF;
    padding: 1rem;
}

.section__olvidaste p {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
}

.form__olvidaste {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.form__olvidaste input {
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
}

.div__olvidaste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div__olvidaste input {
    width: 15rem;
    margin-bottom: 1rem;
    background-color: #999999;
}

.buscar input {
    background-color: green;
    color: #FFFFFF;
}

.buscar input:hover {
    border: 0.2rem solid #FFFFFF;
    box-shadow: 2px 2px 9px #FFFFFF;
}

.div__olvidaste input:hover {
    border: 0.2rem solid #FFFFFF;
    box-shadow: 2px 2px 9px #FFFFFF;
}

/* Main Añadir al Carrito */

.main__carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(./imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.4rem;
    color: #FFFFFF;
}

.section__carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section__carrito img {
    height: 60rem;
    padding-top: 2rem;
    position: relative;
}

.div__carrito {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 25.5rem;
    height: 54rem;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: inset 0px 0px 12px 3px #FFFFFF;
    margin: 0.2rem 0 0.2rem 0.3rem;
}

.section__carrito p {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    padding-left: 0.3rem;
    text-shadow: 1px 1px 7px #FFFFFF;
}

.play_tictactoe {
    font-size: 2rem;
    font-family: 'Retro Land Mayhem', sans-serif;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    border: dotted greenyellow 1rem;
    text-shadow: 1px 1px 7px #FFFFFF;
    animation: bordeado 0.5s infinite;
}

@keyframes bordeado {
    0%{
        border: dotted greenyellow 1rem;
        transform: translateX(2px);
        color: #FFFFFF;
    }
    100%{
        border: dotted green 1rem; 
        color: #FFFFFF;
    }
}

/* Footer General */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #cccccc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23484848' fill-opacity='0.36' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

footer p {
    font-size: 1.8rem;
    font-family: 'Oxanium', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto 2rem;
    text-decoration: underline;
}

.separador {
    width: 0.2rem;
    border: none;
    background-color: #000000;
    margin: 1rem 0;
}

.footer__iconos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem;
}

.footer__iconos li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem;
}

.footer__iconos li a span {
    border: 0.2rem solid #000000;
    font-size: 1.3rem;
    font-family: 'Oxanium', sans-serif;
    font-weight: 600;
    color: #000000;
    padding: 0.3rem;
    border-radius: 10px;
}

.footer__iconos li a img{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    margin: 0 2rem;
    box-sizing: content-box;
}

.footer__iconos li a img:hover {
    transition: all 1s;
    transform: rotate(360deg);
}

/* Tic Tac Toe */

.body__tictactoe {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='160' height='160' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M121.5 39.5V9.169c0-2.827 1.724-4.707 3.473-5.602l.707-.362c2.086-1.068 4.702-.631 6.359 1.026l1.985 1.985c1.349 1.349 3.235 2.018 5.14 2.128 12.336 0 12.336-18.505 0-18.505M40.75 39.499V9.17c0-2.827-1.724-4.707-3.473-5.602l-.707-.362c-2.086-1.068-4.702-.631-6.359 1.026l-1.985 1.985c-1.349 1.349-3.236 2.018-5.14 2.128-12.336 0-12.336-18.505 0-18.505m146.575 111.248c0-12.337-18.505-12.337-18.505 0 .11 1.904.78 3.79 2.128 5.139l1.985 1.985c1.657 1.657 2.094 4.273 1.026 6.36l-.362.706c-.895 1.75-2.775 3.474-5.602 3.474l-30.33-.001m49.66-63.086c0 12.336-18.505 12.336-18.505 0 .11-1.904.78-3.791 2.128-5.14l1.985-1.985c1.657-1.657 2.094-4.273 1.026-6.359l-.362-.707c-.895-1.749-2.775-3.474-5.602-3.473h-30.33m19.162 130.344c12.337 0 12.337-18.505 0-18.505-1.631 0-3.99.98-5.139 2.128l-1.985 1.985c-1.656 1.656-4.274 2.094-6.36 1.027l-.706-.362c-2.086-1.069-3.474-3.258-3.474-5.602v-34.302l.001-26.228c0-2.344-1.427-4.458-3.473-5.602l-.707-.361a5.83 5.83 0 00-6.36 1.026l-1.984 1.985c-1.144 1.152-3.508 2.128-5.14 2.128-12.336 0-12.336-18.505 0-18.505 1.904.11 3.715.86 5.14 2.128l1.985 1.985a5.812 5.812 0 006.359 1.026l.707-.362c1.287-1.485 3.473-2.775 3.473-5.602v-30.33M23.086 168.343c-12.336 0-12.336-18.505 0-18.505 1.632 0 3.992.98 5.14 2.128l1.985 1.985c1.656 1.656 4.274 2.094 6.359 1.027l.707-.362c2.086-1.069 3.474-3.258 3.474-5.602l-.001-34.302V88.485c0-2.344 1.387-4.533 3.473-5.602l.707-.361c2.085-1.068 4.703-.63 6.359 1.026l1.985 1.985c1.148 1.148 3.508 2.128 5.14 2.128 12.336 0 12.336-18.505 0-18.505-1.905.11-3.791.78-5.14 2.128l-1.985 1.985c-1.657 1.657-4.273 2.094-6.36 1.026l-.706-.362c-1.75-.895-3.474-2.775-3.474-5.602v-30.33m80.75 80.749H91.17c-2.827 0-4.707 1.724-5.602 3.473l-.362.707c-1.068 2.086-.631 4.702 1.026 6.359l1.985 1.985c1.349 1.349 2.018 3.236 2.128 5.14 0 12.336-18.505 12.336-18.505 0 0-1.632.98-3.992 2.128-5.14l1.985-1.985c1.656-1.656 2.094-4.274 1.026-6.359l-.361-.707c-1.069-2.086-3.258-3.474-5.602-3.473h-60.53c-2.344 0-4.533-1.387-5.602-3.473l-.362-.707c-1.067-2.085-.63-4.703 1.027-6.359l1.985-1.985c1.148-1.148 2.128-3.508 2.128-5.14 0-12.336-18.505-12.336-18.505 0M121.5 38H91.169c-2.827 0-4.707-1.724-5.602-3.473l-.362-.707c-1.068-2.086-.631-4.702 1.026-6.359l1.985-1.985c1.349-1.349 2.018-3.235 2.128-5.14C90.344 8 71.84 8 71.84 20.337c0 1.632.977 3.994 2.128 5.14.663.66 1.343 1.305 1.985 1.985 1.608 1.703 2.003 4.23 1.026 6.36-.11.24-.233.474-.361.706C75.48 36.577 73.359 38 71.015 38H36.712L10.485 38c-2.344 0-4.533 1.387-5.602 3.473-.12.236-.24.471-.362.707-1.067 2.085-.63 4.703 1.027 6.36l1.985 1.984c1.148 1.148 2.128 3.508 2.128 5.14C9.66 68-8.844 68-8.844 55.664'  stroke-width='1.5' stroke='hsla(259, 0%, 25%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.header__tictactoe {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 4rem;
    background: none;
}

.titulo__tictactoe {
    color: #FFFFFF;
    font-size: 5rem;
    text-align: center;
    font-family: 'Retro Land Mayhem', sans-serif;
}

.div__tictactoe {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;  
    justify-content: start;
    width: fit-content;
    margin-right: 120rem;
}

.div__tictactoe a {
    color: #FFFFFF;
    margin: 4.2rem 6rem;
    font-size: 2rem;
    font-family: 'Retro Land Mayhem', sans-serif;
    border: dotted greenyellow 0.5rem;
    padding: 1rem;
}

.div__tictactoe-2 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;  
    justify-content: end;
    width: fit-content;
    margin-left: 120rem;
}

.div__tictactoe-2 a {
    color: #FFFFFF;
    margin: 4.2rem 6rem;
    font-size: 2rem;
    font-family: 'Retro Land Mayhem', sans-serif;
    border: dotted greenyellow 0.5rem;
    padding: 1rem;
}

.reglas-generales {
    width: fit-content;
    align-self: center;
    margin-top: 3rem;
}

.reglas-generales p {
    display: flex;
    flex-flow: column wrap;
}

.reglas-titulo {
    color: #6e6e6e;
    font-size: 3rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,89,55,0);
}

.reglas {
    margin: auto;
    font-size: 2rem;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 0 10px #FFFFFF;
}

.main__tictactoe {
    margin: 0 3rem 6rem;
    display: flex;
}

.grilla-1 {
    display: grid;
    grid-template-columns: repeat(3, 21.5rem);
    grid-template-rows: repeat(3, 21.5rem);
    gap: 2rem;
    margin: auto;
    width: fit-content;
    place-content: center;
    background-color: black;
}

.capa-o {
    background-image: url(./imagenes/circle.png);
    background-color: #FFFFFF;
    user-select: none;
    position: absolute;
    width: 21.5rem;
    height: 21.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 5px #D8D8D8;
    background-position: center;
    background-size: 100%;
}

.capa-x {
    background-image: url(./imagenes/equis.png);
    background-color: #FFFFFF;
    user-select: none;
    position: absolute;
    border-radius: 10px;
    width: 21.5rem;
    height: 21.5rem;
    background-position: center;
    background-size: 100%;
}

.capa-cero {
    background-color: #FFFFFF;
    user-select: none;
    position: absolute;
    width: 21.5rem;
    height: 21.5rem;
    border-radius: 10px;
}

.grilla-1 input {
    display: none;
}

.grilla-1 input:checked + label {
    width: 0.01rem;
    height: 0.01rem;
}

#tictactoe1 + label,
#tictactoe2 + label,
#tictactoe3 + label,
#tictactoe4 + label,
#tictactoe5 + label,
#tictactoe6 + label,
#tictactoe7 + label,
#tictactoe8 + label,
#tictactoe9 + label {
    pointer-events: none;
}

/* Media Queries Index */

@media only screen and (max-width: 768px){
    header {
        justify-content: center;
        column-gap: 2rem;
    }

    .header__logo {
        width: 16rem;
        height: 16rem;
    }

    .header__titulo {
        margin-right: 1.5rem;
    }

    .header__titulo h1 {
        font-size: 5.8rem;
    }

    header nav ul {
        justify-content: center;
        margin: 4rem 0 0 0;
    }

    header nav ul li a img {
        width: 3rem;
        height: 3rem;
    }

    header nav ul li a span {
        font-size: 1.8rem;
    }

    .busqueda {
        margin: 0 0 4rem 0;
    }

    .dropdown ul li,.dropdown2 ul li {
        font-size: 1.5rem;
    }

    .dropdown ul, .dropdown2 ul {
        background-color: #999999;
    }

    .dropdown ul li a, .dropdown2 ul li a {
        color: #000000;
    }

    .titulo__especial {
        font-size: 2.5rem;
    }

    .celulares {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .presentacion {
        padding: 0;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .presentacion__celular .s-22 {
        margin: 0.5rem 0 0 7rem;
    }

    .presentacion__celular .iphone-12 {
        margin: 0.5rem 0 0 0;
    }

    .presentacion__celular .note-8 {
        margin: 3rem 0 2rem 0;
    }

    .presentacion__celular .moto-g200 {
        margin: 0.2rem 0 0rem 0;
    }

    .presentacion__texto {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .primer_texto {
        width: 80%;
        margin: 0.5rem 0 1rem 0;
        padding: 1rem;
    }

    .segundo_texto {
        width: 80%;
        margin: 2rem 0 3rem 0;
        padding: 1rem;
    }

    .s-22, .iphone-se {
        width: 30rem;
        height: 45rem;
    }
    
    .note-11 {
        width: 35rem;
        height: 40rem;
    }

    .moto-e40, .a-21s, .note-8 {
        width: 35rem;
        height: 42rem;
    }

    .iphone-13, .iphone-12 {
        width: 35rem;
        height: 45rem;
    }

    .note-9 {
        width: 38rem;
        height: 42rem;
    }

    .presentacion__celular .s-22 {
        margin-right: 2rem;
    }

    .a-51 {
        width: 45rem;
        height: 45rem;
    }

    .nosotros__section {
        width: 90%;
    }

    .texto {
        margin: 3rem;
        font-size: 2.5rem;
    }

    .contactanos {
        flex-flow: column wrap;
        padding: 5rem;
    }

    .contactanos__section {
        margin: 0 0 5rem 0;
    }

    .main__section {
        width: 80%;
        height: 45rem;
    }

    .olvidaste-contraseña {
        padding: 0 0 1rem 0;
    }

    .main__form {
        padding: 1rem 1rem 0 1rem;
    }

    .main__registro {
        padding: 10rem;
    }

    .main__olvidaste {
        padding: 16rem;
    }

    footer {
        flex-flow: column wrap;
    }

    footer p {
        margin: 2rem 0;
    }

    .separador {
        display: none;
        font-size: 1.5rem;
    }

    .footer__iconos li a span {
        font-size: 1rem;
    }

    .footer__iconos {
        justify-content: center;
        margin: 0 0 2rem 0;
    }

    .titulo__tictactoe {
        margin-right: 2rem;
    }

    .div__tictactoe, .div__tictactoe-2 {
        width: 100%;
        margin: 0;
    }

    .grilla-1 {
        grid-template-columns: repeat(3,17rem);
        grid-template-rows: repeat(3,17rem);
        margin-bottom: 7rem;
    }

    .capa-o, .capa-x, .capa-cero {
        width: 17rem;
        height: 17rem;
    }

    .main__tictactoe {
        margin: auto;
    }
}

@media only screen and (max-width: 480px){
    .header__titulo {
        margin-right: 0.2rem;
    }

    .header__titulo h1 {
        font-size: 4.2rem;
    }

    header nav {
        align-items: center;
        margin: 0 0 2.5rem 0;
    }

    header nav ul {
        margin: 2.5rem 0;
        width: 60%;
        justify-content: space-evenly;
        row-gap: 1.5rem;
    }

    header nav ul li a, .header__barra, .busqueda, .footer__iconos li a{
        margin: 0;
    }

    header nav ul li a img {
        margin: 0 0 0 2rem;
        width: 3rem;
        height: 3rem;
    }

    header nav ul li a span {
        font-size: 1.5rem;
    }

    .header__barra {
        width: 62%;
    }

    .header__especial h1 {
        margin-right: 0;
    }

    .marcas {
        flex-flow: column wrap;
    }

    .dropdown {
        flex-flow: column wrap;
        width: 100%;
    }

    .dropdown ul, .dropdown2 ul {
        background-color: #000000;
    }

    .dropdown ul li a, .dropdown2 ul li a {
        color: #FFFFFF;
    }

    .header__especial {
        flex-flow: column wrap;
    }

    .header__especial img {
        width: 10rem;
        height: 10rem;
    }

    .titulo__especial {
        font-size: 1.8rem;
        margin: 1rem 0;
    }

    .main__section {
        width: 100%;
        height: 40rem;
    }

    .main__div {
        width: 100%;
    }
    
    .s-22, .iphone-se {
        width: 25rem;
        height: 40rem;
    }

    .iphone-13, .iphone-12, .note-8, .moto-g200, .moto-g60s {
        width: 30rem;
        height: 40rem;
    }

    .a-21s, .note-11, .note-9 {
        width: 35rem;
        height: 40rem;
    }

    .moto-e40 {
        width: 33rem;
        height: 40rem;
    }

    .a-51 {
        width: 40rem;
        height: 40rem;
    }

    .primer_texto {
        overflow-y: auto;
        height: 60rem;
    }

    .segundo_texto {
        overflow-y: auto;
        height: 60rem;
        padding: 0;
        justify-content: unset;
    }

    .olvidaste-contraseña {
        padding: 0;
    }

    .main__olvidaste {
        padding: 8rem 0;
    }

    .section__olvidaste {
        width: 70%;
    }

    .div__olvidaste input {
        margin: 1rem 0.5rem;
    }

    .main__registro {
        padding: 5rem;
    }

    .registro__div input {
        width: 90%;
    }

    .nosotros__texto {
        overflow-y: auto;
        height: 42rem;
    }

    .texto {
        margin: 0 2rem;
    }

    .contactanos {
        padding: 4rem 0;
    }

    .contactanos__section {
        width: 80%;
        height: 80%;
    }

    .media__div input {
        width: 94%;
    }

    .ubicacion {
        width: 70%;
        height: 70%;
    }

    .ubicacion iframe {
        width: 90%;
        height: 30rem;
        padding-bottom: 2rem;
    }

    footer p, .footer__iconos li a span {
        font-size: 1.2rem;
    }

    .footer__iconos {
        justify-content: space-evenly;
        padding-left: .5rem;
    }

    .footer__iconos li:nth-child(4) {
        margin: 1rem 0 0 1rem;
    }

    .footer__iconos li a img {
        margin: 0 0 0 1.5rem;
    }

    .header__tictactoe {
        padding-top: 7rem;
        flex-flow: row wrap;
        justify-content: center;
    }

    .titulo__tictactoe {
        margin: 0;
    }

    .grilla-1 {
        grid-template-columns: repeat(3,10rem);
        grid-template-rows: repeat(3,10rem);
    }

    .capa-cero, .capa-o, .capa-x {
        width: 10rem;
        height: 10rem;
    }

    .div__tictactoe-2 {
        position: relative;
        justify-content: end;
        width: fit-content;
        height: fit-content;
        margin: 4rem 0 0 4rem;
    }

    .div__tictactoe-2 a {
        margin: 0;
    }

    .div__tictactoe {
        position: relative;
        width: fit-content;
        height: fit-content;
        justify-content: start;
        margin: 4rem 4rem 0 0;
    }

    .div__tictactoe a {
        margin: 0;
    }
}

@media only screen and (max-width: 450px){
    .main__div {
        width: 50%;
        margin: 0 auto;
    }

    .presentacion__celular .a-51 {
        margin: 3rem 0;
    }

    .section__olvidaste h3 {
        font-size: 2.5rem;
    }

    .div__olvidaste input, .buscar  input {
        width: 12rem;
        margin: 1rem;
    }
}

@media only screen and (max-width: 375px){
    .header__titulo h1 {
        font-size: 3.5rem;
    }

    header nav ul li a span {
        font-size: 1.3rem;
    }

    .primer_texto, .segundo_texto {
        height: 50rem;
    }

    .a-51 {
        width: 32rem;
        height: 32rem;
    }

    .a-21s, .note-8 {
        width: 27rem;
        height: 32rem;
    }

    .presentacion__celular .moto-g200, .presentacion__celular .moto-e40 {
        margin: 3rem 0;
    }

    .s-22, .moto-g200, .moto-g60s {
        height: 38rem;
    }

    .presentacion__celular .note-11, .presentacion__celular .note-9 {
        margin: 3rem 0;
        width: 30rem;
        height: 35rem;
    }

    .remarque {
        font-size: 1.6rem;
    }

    .ubicacion {
        width: 80%;
    }

    .div__olvidaste {
        flex-flow: column wrap;
        align-items: center;
    }

    .footer__iconos li a img {
        margin: 0;
    }

    .grilla-1 {
        grid-template-columns: repeat(3, 8rem);
        grid-template-rows: repeat(3, 8rem);
    }

    .capa-cero, .capa-o, .capa-x {
        width: 8rem;
        height: 8rem;
    }

    .div__tictactoe, .div__tictactoe-2 {
        margin: 3rem 0 0 0;
    }
}